body {
  background-color: #356CC7;
  font-family: 'Dosis', 'Helvetica', 'Arial', sans-serif;
  padding-bottom: 30px; }

::selection {
  background-color: #264d8d;
  color: white; }

.agregar-hover {
  border-top-color: #356CC7 !important;
  border-right-color: #356CC7 !important;
  border-bottom-color: #356CC7 !important; }

#titulo-wrapper {
  background-color: white;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); }
  #titulo-wrapper #titulo {
    padding: 0; }
    #titulo-wrapper #titulo h1 {
      color: #356CC7;
      font-weight: 700;
      text-transform: uppercase;
      margin: 15px 5px;
      font-size: 25px; }

textarea {
  resize: none; }

.sombra {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 0; }

#formulario,
#enviarEmail {
  background-color: white;
  padding: 30px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }
  #formulario-titulo,
  #enviarEmail-titulo {
    background-color: #f2f2f2;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
    #formulario-titulo h3,
    #enviarEmail-titulo h3 {
      margin: 15px 0;
      color: #356CC7; }
  #formulario input:not([type=submit]),
  #formulario textarea,
  #enviarEmail input:not([type=submit]),
  #enviarEmail textarea {
    margin-bottom: 15px;
    height: 40px;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid #f2f2f2;
    transition: all .25s; }
    #formulario input:not([type=submit]):focus, #formulario input:not([type=submit]):hover,
    #formulario textarea:focus,
    #formulario textarea:hover,
    #enviarEmail input:not([type=submit]):focus,
    #enviarEmail input:not([type=submit]):hover,
    #enviarEmail textarea:focus,
    #enviarEmail textarea:hover {
      outline: none;
      border-color: #356CC7;
      color: #356CC7; }
  #formulario textarea,
  #enviarEmail textarea {
    height: 200px;
    padding-top: 10px; }
  #formulario div.medicamentos,
  #enviarEmail div.medicamentos {
    position: relative;
    padding: 0; }
  #formulario span.agregar,
  #enviarEmail span.agregar {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #356CC7;
    color: white;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: auto;
    right: 0;
    left: auto;
    cursor: pointer;
    transition: all .25s; }
    #formulario span.agregar i,
    #enviarEmail span.agregar i {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      line-height: 40px; }
  #formulario .input-wrapper-left,
  #enviarEmail .input-wrapper-left {
    padding-left: 0;
    padding-right: 5px; }
  #formulario .input-wrapper-right,
  #enviarEmail .input-wrapper-right {
    padding-right: 0;
    padding-left: 5px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

div#crear,
div#enviar {
  text-align: center;
  cursor: pointer;
  background-color: #356CC7;
  color: white;
  border: 2px solid #356CC7;
  border-radius: 6px;
  height: 60px;
  margin-top: 20px; }
  div#crear h3,
  div#enviar h3 {
    line-height: 55px;
    padding: 0;
    margin: 0; }

.col-xs-12 {
  min-height: 0; }

.agregarPadding {
  padding: 20px 0 !important;
  background-color: white; }

#qrcode-wrapper {
  text-align: justify;
  padding: 0; }
  #qrcode-wrapper canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block; }

#enviarEmail {
  display: none; }
  #enviarEmail h4 {
    color: #356CC7; }

/*# sourceMappingURL=main.css.map */
